<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Index</title>
</head>
<body>
  <%- include('../partials/_navbar') %>

  <div class="container">
    <h1>Animals</h1>
    <ul>
      <% animals.forEach(animal => { %>
        <li>
          <a href="/animals/<%= animal._id %>"><%= animal.name %></a>
          <form action="/animals/<%= animal._id %>/edit" method="get" style="display:inline;">
            <button type="submit" class="button-link">Edit Animal</button>
          </form>
          <form action="/animals/<%= animal._id %>?_method=DELETE" method="POST" style="display:inline;">
            <button type="submit">Delete</button>
          </form>
        </li>
      <% }) %>
    </ul>
    <form action="/animals/new" method="get" >
      <button type="submit">Add Animal</button>
    </form>
  </div>
</body>
</html>
