<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit <%= shelter.name %></title>
</head>
<body>
    <h1>Edit Shelter</h1>
    <form action="/shelters/<%= shelter._id %>?_method=PUT" method="POST">
        <label for="organization">Organization:</label>
        <input type="text" id="organization" name="organization" value="<%= shelter.organization %>" required>
        <br>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="<%= shelter.name %>" required>
        <br>
        <label for="location">Location:</label>
        <input type="text" id="location" name="location" value="<%= shelter.location %>" required>
        <br>
        <label for="contact">Contact:</label>
        <input type="text" id="contact" name="contact" value="<%= shelter.contact %>" required>
        <br>
        <button type="submit">Update Shelter</button>
    </form>
</body>
</html>
