<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= shelter.name %></title>
</head>
<body>
  <%- include('../partials/_navbar') %>

  <h1><%= shelter.name %></h1>
  <p>Organization: <%= shelter.organization %></p>
  <p>Location: <%= shelter.location %></p>
  <p>Contact: <%= shelter.contact %></p>

  <h3>Animals:</h3>
  <ul>
    <% shelter.animals.forEach(animal => { %>
      <li><a href="/animals/<%= animal._id %>"><%= animal.name %></a> - <%= animal.typeOfAnimal %>
      </li>
    <% }) %>
  </ul>

  <a href="/shelters/<%= shelter._id %>/edit">Edit</a>
  <form action="/shelters/<%= shelter._id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <button type="submit">Delete</button>
  </form>
</body>
</html>
