<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= shelter.name %></title>
</head>
<body>
  <%- include('../partials/_navbar') %>

  <h1><%= shelter.name %></h1>
  <p>Organization: <%= shelter.organization %></p>
  <p>Location: <%= shelter.location %></p>
  <p>Contact: <%= shelter.contact %></p>
  <h2>Animals</h2>
  <ul>
    <% shelter.animals.forEach(animal => { %>
      <li><a href="/animals/<%= animal._id %>"><%= animal.name %></a></li>
    <% }) %>
  </ul>
  <a href="/shelters">Back to Shelters</a>
  
